# output files
outputs/
output_SA*
Sensitivity_Analysis/*.sh
*.feather
.DS_Store
*.o
*.log
*.err
project

*.nsys-rep
*.sqlite
*.out
*.folded
*.perf
*.data
*.old

*.pyc
Sensitivity_Analysis/df_complete.db
/Sensitivity_Analysis/*.svg
/Sensitivity_Analysis/*.feather
parallel_timings.csv
.~lock.parallel_timings.csv#
