
*.feather
.DS_Store
*.o
*.log
*.err

PhysiCell/project
PhysiCell/outputs
PhysiCell/sh
.vscode
GEMINI.md

EDIESCA_2025
Notebooks
Scripts
csv
README_og.md
*pdf
*.nsys-rep
*.sqlite
*.out
*.folded
*.perf
*.data
*.old
*.pyc
*.mpit
*.prv
*.log
*.tmp
